<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-content>
        <div class="login-top-icon">
          <div class="primary">
            <ion-icon color="light" name="person"></ion-icon>
          </div>
        </div>
        <div class="login-inputs">
          <h1>Sign In</h1>
          <form [formGroup]="loginForm" (submit)="login()">
            <div class="form-group">
              <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
            </div>
            <div class="form-group">
              <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            </div>
            <div class="checkbox">
              <ion-checkbox color="primary" checked="true"></ion-checkbox>
              <span> &nbsp;&nbsp;Rememeber Me</span>
            </div>
            <ion-button type="submit">LogIn</ion-button>
          </form>
          <!-- <img src="/assets/login-template.jpg" width="100%" /> -->
        </div>
        <div class="d-flex">
          <div>
            <span>Forgot Password </span>
          </div>
          <div style="margin-left:auto">
              <a routerLink="/signup">SignUp</a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>